%h1 Street Fighter 4

.row
  .col-xs-6
    %h3 Ladder
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Rank
          %th Player
          %th Rating
      %tbody
        %tr
          %td 1
          %td regret
          %td 1543
        %tr
          %td 2
          %td jway
          %td 1409
  .col-xs-6
    %h3 Recent Matches
    .panel.panel-default
      .panel-body
        Match
    .panel.panel-default
      .panel-body
        Match
    .panel.panel-default
      .panel-body
        Match

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @games.each do |game|
    %tr
      %td= game.name
      %td= link_to 'Show', game
      %td= link_to 'Edit', edit_game_path(game)
      %td= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Game', new_game_path
