= form_for @match do |f|
  - if @match.errors.any?
    #error_explanation
      %h2= "#{pluralize(@match.errors.count, "error")} prohibited this match from being saved:"
      %ul
        - @match.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :rating
    = f.number_field :rating
  .field
    = f.label :result
    = f.text_field :result
  .field
    = f.label :opponent_id
    = f.number_field :opponent_id
  .field
    = f.label :player_id
    = f.number_field :player_id
  .actions
    = f.submit 'Save'
