%h1 Listing matches

%table
  %tr
    %th Rating
    %th Result
    %th Opponent
    %th Player
    %th
    %th
    %th

  - @matches.each do |match|
    %tr
      %td= match.rating
      %td= match.result
      %td= match.opponent_id
      %td= match.player_id
      %td= link_to 'Show', match
      %td= link_to 'Edit', edit_match_path(match)
      %td= link_to 'Destroy', match, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Match', new_match_path
