%p#notice= notice

%p
  %b Rating:
  = @match.rating
%p
  %b Result:
  = @match.result
%p
  %b Opponent:
  = @match.opponent_id
%p
  %b Player:
  = @match.player_id

= link_to 'Edit', edit_match_path(@match)
\|
= link_to 'Back', matches_path
